apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kubernetes-database-backup.fullname" . }}-configs
  labels:
    {{- include "kubernetes-database-backup.labels" . | nindent 4 }}
data:
  {{- range $dbType, $dbDetail := $.Values }}
  {{- if and (kindIs "map" $dbDetail) (hasKey $dbDetail "instances") }}
  {{ $dbType }}.yaml: |
    {{- range $dbDetail.instances }}
    - hostname: {{ .name }}
      namespace: {{ .namespace }}
    {{- end }}
  {{- end }}
  {{- end }}